<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.processMapper">
    <!--更新进程id-->
    <update id="setProcessId">
        UPDATE SystemStatus SET processMonitor = #{_parameter}
    </update>
</mapper>